@media (max-width: 768px) {

    // navigation part scss //
    #navigation {
        position: static;
    }

    // hero part scss //
    #hero {
        margin-top: 0px;
        padding-top: 0px;
        padding: 50px 0;

        &-content {
            @media (max-width: 767.98px) {
                &-text {
                    h5 {
                        font-size: 18px;
                    }
                }

                &-icon img {
                    width: 30px;
                }
            }
        }
    }

    // advantage part scss //
    #advantage {

        @media (max-width: 767.98px) {
            padding-bottom: 70px;
        }

        &::after {
            display: none;
        }

        .advantage {
            &-contents {
                padding: 80px 20px;

                .icon {
                    img {
                        width: 70px;
                    }
                }

                .btn {
                    width: 240px;
                }
            }
        }
    }

    // features part scss //
    #features {
        .features {
            &-text {
                &::after {
                    display: none;
                }
            }
        }
    }

    // content part scss //
    #content {
        padding-top: 80px;

        .content-img {
            left: -40px;
        }

        .content-img2 {
            right: -65px;
        }

        .content-img3 {
            left: -80px;
        }
    }
}

// content-black//
#content-back {
    .content-back {
        &-text {
            @media (max-width: 575.98px) {
                h2 {
                    font-size: 7.5vw !important;
                }
            }

            @media (min-width: 576px) and (max-width: 767.98px) {
                h2 {
                    font-size: 6vw !important;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {

    // features part scss //
    #features {
        .features {
            &-text {
                &::after {
                    display: none;
                }
            }
        }
    }

    // hero part scss //
    #hero {
        padding-bottom: 50px;
    }

    // advantage part scss //
    #advantage {
        // &::after {
        //     display: none;
        // }

        .advantage {
            &-contents {
                &-items {
                    .text {
                        p {
                            line-height: 26px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    // time part scss //

    #timer {
        .timer-contents {
            h2 {
                span {
                    font-size: 15px;
                }
            }
        }
    }

    // content part scss //

    #content {
        .content-img {
            left: -120px;
        }

        .content-img2 {
            right: -110px;
        }

        .content-img3 {
            left: -120px;
        }

        .content-text {
            p {
                font-size: 18px;
            }
        }
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    // features part scss //
    #features {
        .features {
            &-text {
                &::after {
                    display: none;
                }
            }
        }
    }

    // content part scss //

    #content {
        .content-img {
            left: -125px;
        }

        .content-img2 {
            right: -115px;
        }

        .content-img3 {
            left: -125px;
        }

        .content-text {
            p {
                font-size: 18px;
            }
        }
    }
}